CarService/CarService/CarService.csproj.user
CarService/CarService/bin/
CarService/CarService/obj/
CarService/.vs/
/CarService/BusinessLogic/bin/
/CarService/BusinessLogic/obj/
/CarService/CarService/publish
