@model CarService.Models.InvoiceModel

@{
    ViewData["Title"] = "Edit Invoice";
}

<h1>Edit Invoice</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display:none">
                <label asp-for="InspectionId" class="control-label"></label>
                <input asp-for="InspectionId" class="form-control" />
                <span asp-validation-for="InspectionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceDate" class="control-label"></label>
                <input asp-for="DateForInvoice" class="form-control" /><input asp-for="TimeForInvoice" class="form-control" />
                <span asp-validation-for="DateForInvoice" class="text-danger"></span><span asp-validation-for="TimeForInvoice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceSum" class="control-label"></label>
                <input asp-for="InvoiceSum" class="form-control" />
                <span asp-validation-for="InvoiceSum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

