@model CarService.Models.CarModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var userRole = BusinessLogic.Enums.UserRoles.NA;
    var userRoleInt = @HttpContextAccessor.HttpContext.Session.GetInt32(BusinessLogic.Constants.SessionKeyUserRole);
    if (userRoleInt != null)
    {
        userRole = (BusinessLogic.Enums.UserRoles)userRoleInt;
    }

    var display = "block";

    switch (userRole)
    {
        case BusinessLogic.Enums.UserRoles.Owner:
        case BusinessLogic.Enums.UserRoles.CustomerSupport:
            display = "block";
            break;
        case BusinessLogic.Enums.UserRoles.Customer:
            display = "none";
            break;
    }
    ViewData["Title"] = $"Edit Car Details";
    <h1>Edit @Html.DisplayFor(model => model.LicensePlate) Car Details</h1>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display:@display">
                <label asp-for="ClientId" class="control-label"></label>
                <select asp-for="ClientId" asp-items="Model.ClientOptions"></select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarBrandId" class="control-label"></label>
                <select asp-for="CarBrandId" asp-items="Model.CarBrandOptions"></select>
                <span asp-validation-for="CarBrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicensePlate" class="control-label"></label>
                <input asp-for="LicensePlate" class="form-control" />
                <span asp-validation-for="LicensePlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mileage" class="control-label"></label>
                <input asp-for="Mileage" class="form-control" />
                <span asp-validation-for="Mileage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
